<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>pcompanyList</title>
	<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
</head>
<body>
First name: <input type="txt" id="test" />
<button onclick="loadFile()">提交</button>
<script>
	function loadFile(){
		var str = document.getElementById("test").innerHTML
	    var formdata = new FormData($('form')[0]);
		formdata.append('username','str');

$.ajax({
		url: "tokentest",
		data: formdata,
		type: "POST",
		dataType: "json",
		async: false,
		cache: false,
		success: function(data,headers) {
			console.log(data);
			console.log(headers);//一般是在这里拿，要看后端是煮面封装的
		},
		error: function(data) {
			console.log(data);
		}
	});
	}
</script>
</body>

</html>